@model List<Blogy.EntityLayer.Concrete.Message>

<div class="col-xl-4 grid-margin stretch-card">
    <!--activity-->
    <div class="card card-invoice">
        <div class="card-body">
            <h4 class="card-title pb-3">Son Mesajlar</h4>
            @foreach (var item in Model)
            {
                
            
            <div class="list-card">
                <div class="row align-items-center">
                    <div class="col-7 col-sm-8">
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <img src="@item.ImageUrl" alt="" />
                            </div>
                            <div class="col-sm-8 pr-0 pl-sm-0">
                                    <span>@item.DateTime.ToShortDateString()</span>
                                <h6 class="mb-1 mb-sm-0">@item.Name @item.Surname</h6>
                            </div>
                        </div>
                    </div>
                        <div class="col-5 col-sm-4">
                            <div class="d-flex pt-1 align-items-center">
                            
                                <div class="dropdown dropleft pl-1 pt-3">
                                    <div id="dropdownMenuButton2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <p><i class="mdi mdi-dots-vertical"></i></p>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <a class="dropdown-item" href="#"><h1>@item.Subject</h1></a>
                                        <a class="dropdown-item" href="#"><p>@item.Content.Substring(0, 50)...</p></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
    
                </div>
            </div>
            }
       
        </div>
    </div>
    <!--activity ends-->
</div>